.cover{
    height: 324px;
    width: 100%;
    background-image: url(../images/Group\ 65.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hotel {
    position: absolute;
    top: 30px;
    left: 139px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.nav {
    position: absolute;
    width: 595px;
    height: 20px;
    top: 30px;
    right: 139px;
    color: white;
    
}
.li {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
}
.last {
    margin-right: 0px;
}
.cover > .cntc {
    width: 197px;
    height: 90px;
    position: absolute;
    top: 146px;
    left: 139px;
    padding-bottom: 10px;
    
}

.cntc> h2 {
    color: white;
    font-size: 42px;
    font-weight: 900;

}
.cntc> h3 {
    color: white;
    font-size: 14px;
    width: 42px;
    position: absolute;

}
.cntc> h4 {
    width: 57px;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 33px;
    left: 65px;
}
.cntc>div {
    width: 1px;
    height: 20px;
    background-color: white;
    display: inline-block;
    margin-left: 50px;
}
.mapdiv {
    max-width: 1088px;
    height: 286px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
.map {
    width: 100%;
    height: 286px;
}
.support {
    width: 398px;
    height: 135px;
    margin-left: 139px;
    margin-top: 56px;

}
.support > h2 {
    text-transform: uppercase;
    color: #5863F8;
    font-size: 14px;
    font-weight: bold;
}
.support >h3 {
    width: 378px;
    height: 115px;
    font-size: 42px;
    font-weight: 800;
    
}
.inputdivs {
    max-width: 1088px;
    width: 80%;
    height: 290px;
    margin-left: 139px;
    margin-top: 56px;
    /* background-color: gray; */
    position: relative;
}
.inputdivs >textarea {
    max-width: 720px;
    width: 68%;
    height: 288px;
    background-color: #E8E8E8;
    border: 2px solid #F8F8F8;
}
.form {
    width: 352px;
    height: 60px;
    position:absolute;
    background-color: #E8E8E8;
    border: 2px solid #F8F8F8;
}
.f {
    
    right:0px;
    top: 0px;
}
.l {
    
    right: 0px;
    top: 72px;
}
.m {
    right: 0px;
    top: 152px;

}
.b {
    top: 228px;
    right: 0px;
    position: absolute;
    background-color: #5863F8;
    width: 352px;
    height: 60px;
}
.plane {
    width: 14px;
    height: 14px;
}
.contactdiv {
    max-width: 1100px;
    width: 80%;
    height: 147px;
    margin-left: 139px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.maildiv {
    width: 59px;
    height: 59px;
    border-radius: 50px;
    background-color: #5863F8;
    justify-content: center;
    align-items: center;
    display:flex;
}
.phonediv {
    width: 59px;
    height: 59px;
    border-radius: 50px;
    background-color: #5863F8;
    justify-content: center;
    align-items: center;
    display:flex;

}
.locationdiv {
    width: 59px;
    height: 59px;
    border-radius: 50px;
    background-color: #5863F8;
    justify-content: center;
    align-items: center;
    display:flex;

}
.div1 {
    width: 362px;
    height: 147px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;

}
.div2 {
    width: 352px;
    height: 147px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;

}
.div3 {
    width: 362px;
    height: 147px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;

}
.div1 >h2 {
    width: 50px;
    height: 25px;
    font-weight: 700;
    
}
.div2 >h2 {
    width: 50px;
    height: 25px;
    font-weight: 700;
    
}
.div3 >h2 {
    width: 50px;
    height: 25px;
    font-weight: 700;
    
}
.div1 >h3 {
    font-size: 14px;
    color: #B1B1B1;
    font-weight: 500;
}
.div2 >h3 {
    font-size: 14px;
    color: #B1B1B1;
    font-weight: 500;

}
.div3 >h3 {
    font-size: 14px;
    color: #B1B1B1;
    font-weight: 500;

}
.lastsection {
    width: 565px;
    height: 135px;
    margin-top: 90px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 139px;

}
.lastsection >h2 {
    color: #5863F8;
    font-size: 14px;
    font-weight: 700;
    width: 58px;
    height: 20px;
}
.lastsection >h3 {
    height: 115px;
    width: 565px;
    color: #000000;
    font-weight: 900;
    font-size: 42px;
}
.photowraper {
    max-width: 1920px;
    width: 100%;
    height: 352px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pic {
    width: 352px;
    height: 352px;
}
.img {
    width: 100%;
    display: block;
}
.footer {
    max-width: 1920px;
    width: 100%;
    height: 395px;
    background-color: #000000;
    position: relative;
}
.hotel2 {
    width: 260px;
    height: 191px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    
}
.hotel2 > h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;

}
.hotel2 > h3 {
    color: #B1B1B1;
    width: 260px;
    height: 83px;
    font-size: 14px;
    font-weight: 500;
}
.logos {
    width: 130px;
    height: 36px;

}
.ftrwpr {
    position: absolute;
    top: 90px;
    left: 139px;
    max-width: 1035px;
    width: 85%;
    height: 197px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
}
.ufl {
    width: 103px;
    height: 155px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;

}
.ufl >h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    
}
.ufl >h3 {
    color: #5863F8;
    font-size: 14px;
    font-weight: 500;
}
.prv >h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    
}
.prv >h3 {
    color: #5863F8;
    font-size: 14px;
    font-weight: 500;
}
.rightbox {
    width: 566px;
    height: 155px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.prv {
    width: 78px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ci >h2  {
    color: white;
}
.ci >h3   {
    color: white;
}
.ci {
    width: 198px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.minipic {
    margin-right: 18px;
}
